@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Shivani </h1>
    <h1 class="display-4">I really really really really hat you</h1>
    
</div>
