@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is for you Shivani<p><span style="font-size:500%;color:red;">&hearts;</span> </p> </h1>
    
</div>
