@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.heart {
	font-size: 150px;
	color: #e00;
	animation: beat .45s infinite alternate;
	transform-origin: center;
}
@@keyframes beat{
	to { transform: scale(1.4); }
}
</style>

<div class="text-center">
    <h1>Shivani Raghuvanshi, My loveliest Darling</h1>
    <h1 style="color: magenta"> While (true) { printf("I Like You"); }</h1>
    <h2>And, this heart is only for you.</h2>
    <div class="heart">&#x2665;</div>
    <h2>Listen to my heartbeat</h2>
    
</div>
