@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
.heart {
	font-size: 150px;
	color: #e00;
	animation: beat .45s infinite alternate;
	transform-origin: center;
}
@@keyframes beat{
	to { transform: scale(1.4); }
}
</style>

<div class="text-center">
    <h1>Shivani Raghuvanshi</h1>
    <h1>I Like You</h1>
    <h1>This heart is for you only</h1>
    <div class="heart">&#x2665;</div>
    <h1>Listen to my heartbeat</h1>
    
</div>